section {
  background-color: var(--color-background-primary);
  display: flex;
  justify-content: center;
  width: 100%;

  .content-wrapper {
    max-width: 1440px;
    padding: 50px;
    box-sizing: border-box;

    div {
      width: 100%;
      h2 {
        margin: 0;
        font-size: 36px;
      }

      div {
        display: grid;
        gap: 16px;
        width: 100%;

        grid-template-columns: repeat(6, 1fr);

        img {
          width: 100%;
          height: 300px;
          object-fit: cover;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  section .content-wrapper div div {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  section .content-wrapper {
    padding: 24px;
  }
  section .content-wrapper div div {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  section .content-wrapper div div {
    img {
      height: 200px;
    }
  }
}
