<section>
  <div class="content-wrapper">
    <div>
      <h2>Social Media</h2>
      <p>Lorem ipsum dolor sit amet, consectetur enduv adipisicing elit.</p>
      <div>
        <img src="./assets/img/brown-eyed-girl.jpg" alt="" loading="lazy"/>
        <img src="./assets/img/pink-279.jpg" alt="" loading="lazy"/>
        <img src="./assets/img/883749.jpg" alt="" loading="lazy"/>
        <img src="./assets/img/pink-fur-fabulous-fashion.jpg" alt="" loading="lazy"/>
        <img src="./assets/img/accessories-810.jpg" alt="" loading="lazy"/>
        <img src="./assets/img/womens-dress.jpg" alt="" loading="lazy"/>
      </div>
    </div>
  </div>
</section>
