<app-header></app-header>
<div class="wrapper">
  <section class="contact-us-section">
    <img
      class="bg-img"
      src="./assets/img/about_us_bg.jpg"
      alt="Background Image"
    />
    <h2>Get In Touch</h2>
    <div class="container-wrapper">
      <div class="container-left">
        <img src="./assets/img/telephone-call.png" alt="" />
        <h3>Talk To Sales</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium
          odio hic voluptates voluptatibus laboriosam eveniet tenetur ratione
          dignissimos voluptas accusamus, suscipit doloribus et architecto
          aliquid, consequatur inventore dolorem, illo omnis!
        </p>
        <div>
          <a>View all global Members</a>
        </div>
      </div>
      <div class="container-right">
        <img src="./assets/img/online-support.png" alt="" />
        <h3>Customer Support</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium
          odio hic voluptates voluptatibus laboriosam eveniet tenetur ratione
          dignissimos voluptas accusamus, suscipit doloribus et architecto
          aliquid, consequatur inventore dolorem, illo omnis!
        </p>
        <button>Contact Support</button>
      </div>
    </div>
  </section>
</div>
<app-footer></app-footer>
