<app-header></app-header>
<section class="about-us-section">
  <img
    class="bg-img"
    src="./assets/img/about_us_bg.webp"
    alt="Background Image"
  />
  <h2>About Us</h2>
  <div class="container-top">
    <div class="box-mission">
      <h3>Mission Statement</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
        maxime eos velit sed aperiam labore odit, cupiditate, ullam laboriosam
        sunt quo asperiores consequatur quis nisi neque, quaerat beatae sint!
        Facere neque nostrum ad temporibus debitis.
      </p>
    </div>
    <div class="box-vision">
      <h3>Vision Statement</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt obcaecati
        placea laborum animi eaque dignissimos!
      </p>
    </div>
  </div>
  <div class="container-bottom">
    <div class="container-bottom-left">
      <div class="box-target">
        <h3>Target Market Summary</h3>
        <img src="./assets/img/people_walking.svg" alt="" />
      </div>
    </div>
    <div class="container-bottom-right">
      <div class="box-core">
        <h3>Core Values</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
          distinctio maxime eos velit sed aperiam labore odit, cupiditate, ullam
          laboriosam sunt quo asperiores consequatur quis nisi neque, quaerat
          beatae sint! Facere iure quo voluptatem enim neque nostrum.
        </p>
      </div>
      <div class="box-history">
        <h3>Brief Company History</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
          distinctio maxime eos velit sed aperiam labore odit, cupiditate, ullam
          laboriosam sunt quo asperiores consequatur quis nisi neque, quaerat
          beatae sint! Facere iure quo voluptatem enim neque nostrum.
        </p>
      </div>
    </div>
  </div>

  <div class="mobile-about-us d-none">
    <div class="mobile-box-mission">
      <h3>Mission Statement</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
        maxime eos velit sed aperiam labore odit, cupiditate, ullam laboriosam
        sunt quo asperiores consequatur quis nisi neque, quaerat beatae sint!
        Facere neque nostrum ad temporibus debitis.
      </p>
    </div>
    <div class="mobile-box-vision">
      <h3>Vision Statement</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt obcaecati
        placea laborum animi eaque dignissimos!
      </p>
    </div>
    <div class="mobile-box-core">
      <h3>Core Values</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
        distinctio maxime eos velit sed aperiam labore odit, cupiditate, ullam
        laboriosam sunt quo asperiores consequatur quis nisi neque, quaerat
        beatae sint! Facere iure quo voluptatem enim neque nostrum.
      </p>
    </div>
    <div class="mobile-box-history">
      <h3>Brief Company History</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
        distinctio maxime eos velit sed aperiam labore odit, cupiditate, ullam
        laboriosam sunt quo asperiores consequatur quis nisi neque, quaerat
        beatae sint! Facere iure quo voluptatem enim neque nostrum.
      </p>
    </div>
  </div>
</section>
<app-footer></app-footer>
