<div class="wrapper">
  <div class="content-wrapper">
    <section class="hero-section">
      <img src="./assets/img/about_us_bg.jpg" alt="" />
      <h1>We Are Hexashop</h1>
      <p>
        Diese Seite ist ein Übungsprojekt für einen Webshop, das ausschließlich
        zu Lernzwecken erstellt wurde. Bitte beachten Sie, dass keine echten
        Bestellungen getätigt werden können und alle Inhalte rein fiktiv sind.
        Vielen Dank für Ihr Verständnis!
      </p>
      <a [routerLink]="['']" class="btn">
        <span> Purchase now </span>
      </a>
    </section>

    <section class="categories">
      <article class="category">
        <img src="./assets/img/home_women_bg.jpg" alt="" />
        <h2>Women</h2>
        <p>Lorem Ipsum is simply dummy text.</p>
        <a [routerLink]="['']" class="btn">
          <span> Discover More </span>
        </a>
      </article>

      <article class="category">
        <img src="./assets/img/home_men_bg.jpg" alt="" />
        <h2>Men</h2>
        <p>Lorem Ipsum is simply dummy text.</p>
        <a [routerLink]="['']" class="btn">
          <span> Discover More </span>
        </a>
      </article>

      <article class="category">
        <img src="./assets/img/home_kids_bg.jpg" alt="" />
        <h2>Kids</h2>
        <p>Lorem Ipsum is simply dummy text.</p>
        <a [routerLink]="['']" class="btn">
          <span> Discover More </span>
        </a>
      </article>

      <article class="category">
        <img src="./assets/img/home_accessories_bg.jpg" alt="" />
        <h2>Accessories</h2>
        <p>Lorem Ipsum is simply dummy text.</p>
        <a [routerLink]="['']" class="btn">
          <span> Discover More </span>
        </a>
      </article>
    </section>
  </div>
</div>
