@import "../../styles/mixins.scss";

.loading-background {
  height: 100vh;
  background-color: var(--color-background-primary);
}

.wrapper {
  margin: auto;
  background-color: var(--color-background-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  section {
    max-width: 1440px;
    width: 100%;
    box-sizing: border-box;
    padding: 50px;
    @include flex-container(column, flex-start, stretch);
  }

  h2 {
    font-size: 34px;
    margin: 0;
  }

  .products-container {
    margin: 20px 0;
  }

  .products-div {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: flex-start;
    margin-right: -16px;

    a {
      text-decoration: none;
      color: black;
    }

    > * {
      flex: 1 1 calc(25% - 16px);
      max-width: calc(25% - 16px);
    }

    @media (max-width: 1024px) {
      > * {
        flex: 1 1 calc(33.333% - 16px);
        max-width: calc(33.333% - 16px);
      }
    }

    @media (max-width: 768px) {
      > * {
        flex: 1 1 calc(50% - 16px);
        max-width: calc(50% - 16px);
      }
    }

    @media (max-width: 600px) {
    }
  }
}

@media (max-width: 900px) {
  .wrapper section {
    padding: 38px;
  }
}

@media (max-width: 500px) {
  .wrapper section {
    padding: 24px;
  }
}
