.profile-container {
  height: calc(100vh - 90px);
  margin: 48px 120px 48px 120px;
  display: flex;
  gap: 48px;
  .profile-navbar {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 140px;

    h3 {
      margin: 0;
      font-size: 22px;
    }

    a {
      text-decoration: none;
      color: black;
      margin-left: 16px;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;

      &.active {
        color: #431fa7;
      }
    }
  }
}

.mobile-profile {
  display: none;
}

h2 {
  font-size: 32px;
  margin: 0 0 0 48px;
  padding-top: 8px;
}

@media (max-width: 960px) {
  .profile-container {
    margin: 48px 60px 48px 60px;
  }
}

@media (max-width: 740px) {
  .profile-container {
    gap: 24px;
  }

  h2 {
    margin: 0 0 0 24px;
  }
}

@media (max-width: 600px) {

  h2 {
    font-size: 20px;
    padding: 0;
    margin: 32px 0 32px 0;
    align-self: center;
  }

  .profile-container {
    margin: 24px;
    justify-content: center;
  }

  .profile-navbar, .mobile-none {
    display: none !important;
  }

  .mobile-profile {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}