<app-header></app-header>
<div class="profile-container">
  <div class="profile-navbar">
    <h3>Your account</h3>
    <a
      [routerLink]="['/profile']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Overview</a
    >
    <a [routerLink]="['orders']" routerLinkActive="active">Orders</a>
    <a [routerLink]="['details']" routerLinkActive="active">Personal details</a>
  </div>

  @if (isOverviewPage()) {
    <h2 class="mobile-none">(planned / currently in work)</h2>
  }

  <div class="mobile-profile">
    <h2>(planned / currently in work)</h2>
    <app-details></app-details>
    <app-orders></app-orders>
  </div>

  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>
