<div class="wrapper">
  <section class="products">
    <div class="products-text">
      <h2>Explore Our Products</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
        auctor dolor vitae metus condimentum, non posuere lectus vulputate.
        Proin semper, sapien eu luctus tristique, mauris lectus tristique ex,
        sit amet varius sapien dolor ac lorem. Pellentesque habitant morbi
        tristique senectus et netus et malesuada fames ac turpis egestas.
      </p>
      <p>
        Suspendisse potenti. Vivamus dignissim erat sed libero ullamcorper, sed
        dictum est facilisis. Nullam sit amet velit in eros interdum vestibulum.
        Fusce euismod urna at ligula auctor, id viverra magna lobortis. Integer
        nec risus eu neque luctus malesuada sed ut magna. Proin in neque vitae
        quam sodales malesuada nec a felis.
      </p>
      <p>
        Phasellus fringilla dui vel lorem tempor, ac feugiat felis sollicitudin.
        Duis at urna at metus vulputate consequat sit amet vel ligula. Fusce
        feugiat, libero eget tincidunt placerat, metus ex feugiat sem, quis
        tristique eros sapien ut augue. Integer dapibus felis nec ipsum
        venenatis, non fermentum eros dictum.
      </p>
    </div>

    <div class="products-grid">
      <div class="product-card">
        <img
          class="low-opacity"
          src="./assets/img/leather_bags.jpg"
          alt="Leather Bags"
        />
        <div class="product-overlay">
          <h3>Leather Bags</h3>
          <p>Lorem ipsum is simply dummy text.</p>
        </div>
      </div>
      <div class="product-card">
        <img src="./assets/img/fashion_jewlery.jpg" alt="Jewelry" />
      </div>
      <div class="product-card">
        <img
          src="./assets/img/leather_bag_men.jpg"
          alt="Men with leather bag"
        />
      </div>
      <div class="product-card">
        <img
          class="low-opacity"
          src="./assets/img/natural_fabrics.jpg"
          alt="Natural fabrics"
        />
        <div class="product-overlay">
          <h3>Natural Fabrics</h3>
          <p>Lorem ipsum is simply dummy text.</p>
        </div>
      </div>
    </div>
  </section>
</div>
