<app-header></app-header>

<div class="shopping-cart-page">
  @if ((cartItems$ | async)?.length === 0) {
  <p>Your bag is empty</p>
  } @else {
  <ul class="cart-items">
    @for (item of (cartItems$ | async); track cartItems$) {
    <li class="cart-item">
      <div>
        <h3>{{ item.name }} ({{ item.chosenSize }})</h3>
        <p>{{ item.price | currency }}</p>
        <p>{{ item.quantity }}</p>
      </div>

      <div class="item-actions">
        <label for="quantity-{{ item.id }}">Amount</label>
        <form #cartForm="ngForm">
          <select
            id="quantity-{{ item.id }}"
            name="quantity-{{ item.id }}"
            [(ngModel)]="item.quantity"
            (ngModelChange)="updateQuantity(item, $event)"
          >
            @for (option of options; track options) {
            <option [value]="option">{{ option }}</option>
            }
          </select>
        </form>

        <button (click)="removeItem(item)">X</button>
      </div>
    </li>
    }
  </ul>

  <div class="summary">
    <p>Subtotal {{ cartTotal$ | async | currency }}</p>
    <p>Delivery {{ shippingCost$ | async | currency }}</p>
    <p><strong>Total {{ finalTotal$ | async | currency }}</strong></p>
    <a [routerLink]="['/checkout']"><button>Go to checkout</button></a>
  </div>
}
</div>
<app-footer></app-footer>
