<footer>
  <div class="top-content-wrapper">
    <section class="footer-top">
      <div class="icons-div">
        <div>
          <img src="./assets/img/hexashop_logo_white.svg" alt="" />
        </div>
        <div class="social-icons">
          <div>
            <img src="./assets/img/icon_instagram.svg" alt="" />
          </div>
          <div>
            <img src="./assets/img/icon_facebook.svg" alt="" />
          </div>
          <div>
            <img src="./assets/img/icon_pinterest.svg" alt="" />
          </div>
        </div>
      </div>
      <div class="shopping-and-categories">
        <span><b>Shopping and Categories</b></span>
        <a [routerLink]="['/mens-clothing']">Men's Shopping</a>
        <a [routerLink]="['/womens-clothing']">Women's Shopping</a>
        <a [routerLink]="['/kids-clothing']">Kid's Shopping</a>
      </div>
      <div class="useful-links">
        <span><b>Useful Links</b></span>
        <a [routerLink]="['']">Homepage</a>
        <a [routerLink]="['/about-us']">About Us</a>
        <a [routerLink]="['/contact-us']">Help</a>
        <a [routerLink]="['/contact-us']">Contact Us</a>
      </div>
      <div class="help-and-information">
        <span><b>Help & Information</b></span>
        <a [routerLink]="['/legal-notice']">Impressum</a>
        <a [routerLink]="['/legal-notice']">Datenschutz</a>
        <a [routerLink]="['']">FAQ'S</a>
        <a [routerLink]="['']">Shipping</a>
      </div>
    </section>
  </div>
  <div class="bottom-content-wrapper">
    <section class="footer-bottom">Copyright &#64;2024</section>
  </div>
</footer>
