<footer>
  <section class="footer-top">
    <div class="icons-div">
      <div>
      <img src="./assets/img/hexashop_logo_white.svg" alt="" />
      </div>
      <div class="social-icons">
        <div>
        <img src="./assets/img/icon_instagram.svg" alt="">
        </div>
        <div>
          <img src="./assets/img/icon_facebook.svg" alt="">
          </div>
          <div>
            <img src="./assets/img/icon_pinterest.svg" alt="">
            </div>
      </div>
    </div>
    <div class="shopping-and-categories">
      <span><b>Shopping and Categories</b></span>
      <a [routerLink]="['']">Men's Shopping</a>
      <a [routerLink]="['']">Women's Shopping</a>
      <a [routerLink]="['']">Kid's Shopping</a>
    </div>
    <div class="useful-links">
      <span><b>Useful Links</b></span>
      <a [routerLink]="['']">Homepage</a>
      <a [routerLink]="['']">About Us</a>
      <a [routerLink]="['']">Help</a>
      <a [routerLink]="['']">Contact Us</a>
    </div>
    <div class="help-and-information">
      <span><b>Help & Information</b></span>
      <a [routerLink]="['']">Legal notice</a>
      <a [routerLink]="['']">FAQ'S</a>
      <a [routerLink]="['']">Shipping</a>
      <a [routerLink]="['']">Tracking Id</a>
    </div>
  </section>
  <section class="footer-bottom">Copyright &#64;2024</section>
</footer>
